*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}
input{
    background-color: rgb(48, 47, 47);
    border: 0;
    padding: 5px;
}
textarea{
    background-color: rgb(48, 47, 47);  
}
select{
    background-color: rgb(48, 47, 47);  
}